@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.titleh2 {
  width: 100%;
  height: 60px;
  color: rgb(19, 29, 121);
  font-family: 'Train One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.slogan {
  width: 60%;
  height: 60px;
  color: rgb(226, 50, 203);
  display: flex;
  justify-content: center;
  align-items: center;
  }

@media only screen and (min-width: 320px){
  .titleh2 {
    width: 55%;
  }
  .slogan {
    flex-direction: column;
    margin-bottom: 10px;
  }
}


@media only screen and (min-width: 321px) and (max-width: 687px){
  .titleh2 {
    width: 58%;
  }
}


@media only screen and (min-width: 688px) and (max-width: 767px){
  .titleh2 {
    width: 100%;
    margin-left: 2%;
    
  }

  .slogan {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .slogan {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .slogan {
  width: 100%;
  }
}
