.main-container {
  width: 100%;
}

.button-container {
  text-align: center;
}

.my-button {
  width: 20%;
  height: 50px;
  border: none;
  background-size: cover;
  cursor: pointer;
}

@media only screen and (min-width: 320px){
   
}

@media only screen and (min-width: 321px) and (max-width: 767px){
  
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
}

@media only screen and (min-width: 1024px) {
 
}
