.title {
  color: rgb(27, 160, 160);
  
}

.textp {
  color: black;
  font-weight: 500;
  
}

.card-img {
  width: 400px;  
  
}

.more-button {
  width: 200px;
  height: 40px;
  
}
.card-pr {
  margin-top: -1%;
  
}

