.place {
  position: relative;
  display: flex;
  
}

.place-img {
  width: 450px;
  height: 350px;
  padding: 30px;
}

.place-info {
  position: absolute;
  left: 40px;
  top: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
}



