.menu-link {
  display: inline-flex;
  font-style: oblique;
  font-weight: 900;
  font-size: 24px;
  color:rgb(226, 50, 203);
  margin-left: 50px;
  padding-right: 20px;
  
}
@media screen and (min-width: 320px){
  .menu-link {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .menu-link {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 100px;
  }
}


@media screen and (max-width: 819px) {
  .menu-link {
    margin-right: 10px;
    
  }

  }
