footer {
  position: static;
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(226, 50, 203);
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cardp {

}