.login-button {
  color: rgb(33, 187, 166);
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  width: 150px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-user{
  width: 45px;
}

@media (max-width: 767px){
  .login-button {
    margin-left: 60%;
  }
}

@media ( 768px ){
  .login-button {
    margin-left: 1000px;
    margin-top: -50px;
  }
} 

@media (max-width: 991px) {
  .login-button {
    margin-right: 250px;
  }
}
