#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

nav {
  background-color: rgb(228, 77, 107);
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 90vw;
}

h2 {
  color: aliceblue;
}

ul {
  display: inline-flex;
  list-style: none;
  color: lightpink;
  font-style: oblique;
  font-weight: 900;
}

li {
  width: 120px;
}

button {
  height: 40px;
  width: 120px;
  display: inline-flex;
}

#i01 {
  display: inline-flex;
  width: 30px;
}

h3 {
  margin: 50px;
  font-weight: 900;
  font-size: 25px;
  font-style: italic;
  color: #eb123d;
}

#more {
  color: #eb123d;
  border-color: #eb123d;
  margin: 50px;
}

#i02 {
  width: 400px;
  margin: 50px;
}  

main {
  display: inline-flex;
}

#i03 {
  width: 70px;
}

h6 {
  color: #eb123d;
}